<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- ==================== -->
    <!--        别名           -->
    <!-- ==================== -->
    <typeAliases>
        <typeAlias type="com.company.project.adminweb.dao.popedomfunction.PopedomFunctionEO" alias="PopedomFunctionEO"/>
        <typeAlias type="com.company.project.adminweb.dao.popedomrole.PopedomRoleEO" alias="PopedomRoleEO"/>
    </typeAliases>
    <!-- ==================== -->
    <!--        插件           -->
    <!-- ==================== -->
    <plugins>
        <plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
        </plugin>
    </plugins>
    <!-- ==================== -->
    <!--        映射           -->
    <!-- ==================== -->
    <!--<mappers>-->
        <!--<mapper resource="com/company/project/adminweb/dao/popedomfunction/PopedomFunction.xml"/>-->
        <!--<mapper resource="com/company/project/adminweb/dao/popedomrole/PopedomRole.xml"/>-->
    <!--</mappers>-->
</configuration>